* {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
}

.white {
  color: white !important;
}

body.swal2-shown>[aria-hidden="true"] {
  transition: 0.1s filter;
  filter: blur(10px);
}

.text-center {
  text-align: center !important;
}